html,
svg text {
  font-size: 12px;
}

.navbar {
  height: 70px;
}

.navbar-dark {
  background: hsl(212, 50%, 13%);
}

.logo {
  color: #fff;
  height: 100%;
  width: 200px;
  background: url(./logo.svg);
  background-size: cover;
}

.chart-container {
  height: 400px;
}

.chart-tooltip {
  position: fixed;
  padding: 0.75em 1em;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 0.75em;
  pointer-events: none;
  opacity: 0;
}
